* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* section navition  */
.navigation {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 20px;
}

.logo {
    align-self: center;
}

.logo h1 a {
    color: rgb(19, 196, 196);
    font-size: 45px;
}

.menu {
    align-self: center;
}

.menu ul li {
    display: inline;
    font-size: 25px;
    margin: 30px;
    text-transform: uppercase;
}

.menu ul li a {
    color: black;
}

.menu ul {
    position: relative;
}

.btn {
    align-self: center;
}

.btn button {
    width: 130px;
    height: 50px;
    margin: 10px;
    background-color: rgb(0, 195, 255);
    border: none;
    border-radius: 25px;

}

.btn button a {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

/* section navigation  */
/* section hero  */
.section-hero {
    height: calc(100vh - 90px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.left h1 {
    font-size: 70px;
    margin-bottom: 15px;
    color: rgb(16, 51, 150);
    text-transform: uppercase;
}

.left p {
    text-transform: capitalize;
    font-size: larger;
    line-height: 30px;
    margin-bottom: 15px;
}

.right img {
    height: 350px;

}

.left button {
    width: 150px;
    margin-top: 10px;
    height: 50px;
    padding: 10px;
    border: none;
    letter-spacing: 3px;
    border-radius: 25px;
    background-color: rgb(0, 195, 255);
    text-transform: uppercase;

}

.left button a {
    font-weight: 900;
    color: rgb(255, 255, 255);
}

/* section hero  */
/* section navigation  */
.section-community {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-community h1 {
    font-size: 80px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(75, 10, 196);
}

.card {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
}

.member {
    width: 300px;
    height: 400px;
    box-shadow: 1px 1px 20px 0.5px black;
    border-radius: 5px;
}

.member img {
    width: 100%;
}

.member h2 {
    margin-bottom: 5px;
}

/* section navigation  */